<header>
    <div class="container">
        <div class="flx-space-between-center">
            <div id="logo-box">
                <h1>
                    <a href="{% url 'home_page' %}" class="flx-center">ID</a>
                </h1>
            </div>
            <div class="header-icons flx-center">
                <form method="GET" id="search-form" class="flx-center">
                    <input type="text" name="search" id="search-input" placeholder="Aramak için bir şeyler yaz...">
                    <button type="submit" id="search-btn" class="flx-center">
                        <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>