{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block css_files %}{% endblock %}
{% block page_title %}Ana Sayfa{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <section>
                <ul class="blog-posts">
                    {% for blog_post in blog_posts %}
                        <li class="blog-post-item">
                            <a href="{% url 'blog_post' blog_post.slug %}" class="blog-post-link">
                                <div class="blog-post-img-box">
                                    <img src="{% static blog_post.image %}" class="blog-post-img">
                                    <div class="img-overlay"></div>
                                </div>
                                <div class="blog-post-details">
                                    <h3 class="blog-post-header">{{ blog_post.title }}</h3>
                                    <p class="blog-post-description">{{ blog_post.description|text_clip:250 }}</p>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </main>
{% endblock  %}
{% block js_files %}{% endblock %}