* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #ffe194;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flx-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header */
header {
  background-color: #b8dfd8;
  user-select: none;
}

/* logo */
#logo-box {
  background-color: #4c4c6d;
}
#logo-box a {
  background-color: #e8f6ef;
  color: #4c4c6d;
  padding: 1.6rem 2.4rem;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
#logo-box a:hover {
  background-color: #4c4c6d;
  color: #b8dfd8;
}

/* search box */
.header-icons {
  width: 50%;
  padding: 0.8rem;
}

#search-form {
  position: relative;
  width: 6rem;
  height: 5rem;
  transition: all 0.5s;
}
#search-form #search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  color: transparent;
  z-index: 1;
  background: #e8f6ef;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1);
}
#search-form #search-input::placeholder {
  color: transparent;
}
#search-form:hover {
  width: 100%;
}
#search-form:hover #search-input {
  color: #4c4c6d;
}
#search-form:hover #search-input::placeholder {
  color: #4c4c6d;
}

#search-btn {
  position: absolute;
  right: 2rem;
  outline: none;
  border: none;
  background: transparent;
  z-index: 1;
  cursor: pointer;
}

#search-icon {
  font-size: 2rem;
  color: #4c4c6d;
}

/* main */
main {
  /* header -> height: 7rem; */
  /* footer -> height: 5.7rem; */
  min-height: calc(100vh - 12.7rem);
  padding: 2rem 0;
}

/* start index.html */
.blog-posts {
  display: grid;
  grid-template-columns: repeat(4, minmax(28.5rem, 28.5rem));
  gap: 2rem;
}

.blog-post-item {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.blog-post-link {
  display: block;
  color: #b8dfd8;
}
.blog-post-link:hover .blog-post-img-box .img-overlay {
  background-color: rgba(28, 29, 31, 0.5);
}

.blog-post-img-box {
  position: relative;
}

.blog-post-img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 29, 31, 0);
  transition: all 0.4s ease;
}

.blog-post-details {
  width: 100%;
  height: 17rem;
  padding: 0.8rem;
  background-color: #e8f6ef;
}

.blog-post-header {
  color: #4c4c6d;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 0.4rem;
  word-wrap: break-word;
}

.blog-post-description {
  color: #4c4c6d;
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 0.4rem;
}

/* end index.html */
/* footer */
footer {
  background-color: #b8dfd8;
  color: #4c4c6d;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.copyright small {
  font-size: 1.4rem;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
